body {
	padding-top: 60px;
}

.table tr td:first-child, .table tr th:first-child {
	text-align: left;
}
.table td, .table th {
	vertical-align: middle !important;
	text-align: center;
}
.value {
	width: 12em;
}
.enable {
	cursor: pointer;
	text-align: center;
	height: 100%;
}
.enable.disabled {
	opacity: 0.1;
}
.input-append {
	margin-bottom: 0;
}
.navbar .navbar-inner {
	padding: 0 20px;
}
small.gray {
	display: block;
	color: gray;
	font-weight: normal;
}
