<!doctype html>
<html lang="en" ng-app="mieszkalk">
<head>
	<meta charset="UTF-8">
	<title>Mieszkalk - and all your problems with splitting bills among locators are gone</title>
	<script src="js/jquery.min.js"></script>
	<script src="js/angular-1.0.7.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="coffee/core.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="css/core.css" />
</head>
<body>
	<div class="container" ng-controller="mieszkalk">
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<a href="#" class="brand">Mieszkalk</a>
				<ul class="nav pull-right">
					<li><a href="#" data-toggle="modal" data-target="#customizeModal"><i class="icon-wrench icon-white"></i> Customization &amp; <i class="icon-info-sign icon-white"></i> Help</a></li>
				</ul>
			</div>
		</div>
		<div id="customizeModal" class="modal hide" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Customization &amp; Help</h3>
			</div>
			<div class="modal-body">
				<p>Locators (comma separated):</p>
				<p><input class="input-block-level" type="text" ng-model="model.strings.people" /></p>
				<p>Expense categories (comma separated):</p>
				<p><input class="input-block-level" type="text" ng-model="model.strings.expenses" /></p>
				<p>ProTips<sup>TM</sub>:</p>
				<ul>
					<li>Click on person's particular expense to disable it.</li>
					<li><b>DS</b> (as in "don't split") mode will not split expense among the rest, in case someone gets disabled.</li>
					<li>Github is so mainstream you can even <a href="https://github.com/modrzew/mieszkalk">fork this</a>. I don't exactly know why I'm doing this. And I don't know why you should fork this. But you can.</li>
				</ul>
				<p>Oh, and mandatory hipster badge:</p>
				<h2 class="text-center">Created with ♥ in Wrocław</h2>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal"><i class="icon-ok-sign icon-white"></i> OK, go away</button>
			</div>
		</div>
		<table class="table table-bordered table-condensed table-hover">
			<thead>
				<tr>
					<th class="pull-center">Expense</th>
					<th class="value">Value</th>
					<th ng-repeat="person in model.people.names">{{ person }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="expense in model.expenses.names">
					<td>
						{{ expense }}
					</td>
					<td class="text-center">
						<div class="input-append">
							<input type="text" class="input-mini text-right" numberinput="" ng-model="model.expenses.values[expense]" />
							<span class="add-on">zł</span>
						</div>
						<button class="btn add-on" ng-class="{'btn-info': model.expenses.dont_split[expense]}" ng-click="toggleSplit(expense)" title="if someone gets disabled, don't split among the rest, but leave original values">DS</button>
					</td>
					<td class="text-center" ng-repeat="person in model.people.names">
						<div class="enable" title="click to toggle" ng-class="{disabled: model.people.disabled[person].indexOf(expense) >= 0}" ng-click="toggleExpense(person, expense)">
							{{ model.calculated[person][expense] | number:2 }} zł
						</div>
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th>Total</th>
					<th class="text-center">
						{{ model.total['__all__'] | number:2 }} zł
						<small class="gray" ng-show="model.unaccounted >= 0.01">{{ model.unaccounted | number:2 }} zł unaccounted</small>
					</th>
					<th class="text-center" ng-repeat="person in model.people.names">
						{{ model.total[person] | number:2 }} zł
					</th>
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>
